/.hg/00changelog.i
/.hg/branch
/.hg/cache/.tags2-visible-1k5ys0~
/.hg/cache/.tags2-visible-cvjogb~
/.hg/cache/branch2-served
/.hg/cache/rbc-names-v1
/.hg/cache/rbc-revs-v1
/.hg/cache/tags2-visible
/.hg/cur-message.txt
/.hg/dirstate
/.hg/last-message.txt
/.hg/requires
/.hg/store/00changelog.i
/.hg/store/00manifest.i
/.hg/store/data/breathingbricks.ino.i
/.hg/store/data/epd2in7___v2.cpp.i
/.hg/store/data/epd2in7___v2.h.i
/.hg/store/data/epdif.cpp.i
/.hg/store/data/epdif.h.i
/.hg/store/data/epdpaint.cpp.i
/.hg/store/data/epdpaint.h.i
/.hg/store/data/font12.cpp.i
/.hg/store/data/font16.cpp.i
/.hg/store/data/font20.cpp.i
/.hg/store/data/font24.cpp.i
/.hg/store/data/font8.cpp.i
/.hg/store/data/fonts.h.i
/.hg/store/data/ide__settings.png.i
/.hg/store/data/imagedata.cpp.i
/.hg/store/data/imagedata.h.i
/.hg/store/fncache
/.hg/store/phaseroots
/.hg/store/undo
/.hg/store/undo.backup.fncache
/.hg/store/undo.backupfiles
/.hg/store/undo.phaseroots
/.hg/thgstatus
/.hg/undo.backup.dirstate
/.hg/undo.bookmarks
/.hg/undo.branch
/.hg/undo.desc
/.hg/undo.dirstate
/.hg/wcache/manifestfulltextcache
/.hg/wlock-57baaf6b
/.hgignore
